VITE_QUOTABLE_API=https://api.quotable.io

VITE_IPGEOLOCATION_API=https://api.ipgeolocation.io
VITE_IPGEOLOCATION_TOKEN=YOUR_TOKEN

VITE_OPENWEATHERMAP_API=https://api.openweathermap.org/data/2.5
VITE_OPENWEATHERMAP_TOKEN=YOUR_TOKEN